!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Video Chat App
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = yield(:webrtcjs)
    = csrf_meta_tags
  %body
    = yield
    = javascript_include_tag "adapter"
    = javascript_include_tag "filetransfer"
